*{
font-family: 'Patua One', cursive;
}


.articleClass{
  list-style: none;
  border: 3px solid #f7abc5;
  border-radius: 10px;
  margin-bottom: 3rem;
  box-shadow: 10px 10px;
  text-align: center;
}

.title{
  text-decoration: underline;
  color: black;
}

.link{
  color: black;
  display: block;
}

.imagen{
  width: 20vw;
  height: 50vh;
  border-radius: 20px;
}
